//
   Created by rulyardiansyah on 1/3/2017.

//- CORPORATE - TEMPLATES - presentation.pug
doctype html
html.no-js(lang="")
  include ../../_include/_header
  body
    <!--[if lt IE 8]>
    p(class="browserupgrade") You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/upgrade your browser</a> to improve your experience.
    <![endif]-->

    link(rel="stylesheet" href="../../../js/vendor/PhotoSwipe-master/dist/photoswipe.css")
    link(rel="stylesheet" href="../../../js/vendor/PhotoSwipe-master/dist/default-skin/default-skin.css")

    // CONTENTS SHOULD BEGINS HERE
    .container
      header.header.fixed
        a(href="#menu") <span></span>
      section.content#content
        article
          h1 Presentation Templates
          p In this page, we provide three versions of presentation templates; PowerPoint, Web, &amp; Keynote (Mac only).

        hr.article-separator

        article
          h2 PowerPoint Template
          p PowerPoint Template we are using right here was created with a full HD dimension (1920px x 1080px) and has all essential functions of what a presentation slide would commonly have, like chart, infographic, gallery, portfolio, timeline, mockup, etc.. Our presentation template also compatible with <a href="https://www.google.com/slides/about/">Google Slide</a>. In case you don't have PowerPoint installed on your computer, or any similar software, you will still be able to use it online inside Google Slide editor page.
          p DAKSA Design Team provides you two PowerPoint themes, light and dark, and a bundle of icon pack. Also additional 3:4 ratio version.
          p Here are several screenshots for each theme:
          h4 Light Theme
          .powerpoint-template-preview(itemscope="" itemtype="http://schema.org/ImageGallery")
            figure(itemprop="associateMedia" itemscope="" itemtype="http://schema.org/ImageObject")
              a(href="../../../img/corporate/preview-powerpoint-template-light-01.jpg" itemprop="contentUrl" data-size="1280x720")
                img(src="../../../img/corporate/preview-powerpoint-template-light-01.jpg" alt="DAKSA PowerPoint Template" itemprop="thumbnail")
            figure(itemprop="associateMedia" itemscope="" itemtype="http://schema.org/ImageObject")
              a(href="../../../img/corporate/preview-powerpoint-template-light-02.jpg" itemprop="contentUrl" data-size="1280x720")
                img(src="../../../img/corporate/preview-powerpoint-template-light-02.jpg" alt="DAKSA PowerPoint Template" itemprop="thumbnail")
            figure(itemprop="associateMedia" itemscope="" itemtype="http://schema.org/ImageObject")
              a(href="../../../img/corporate/preview-powerpoint-template-light-03.jpg" itemprop="contentUrl" data-size="1280x720")
                img(src="../../../img/corporate/preview-powerpoint-template-light-03.jpg" alt="DAKSA PowerPoint Template" itemprop="thumbnail")
            figure(itemprop="associateMedia" itemscope="" itemtype="http://schema.org/ImageObject")
              a(href="../../../img/corporate/preview-powerpoint-template-light-04.jpg" itemprop="contentUrl" data-size="1280x720")
                img(src="../../../img/corporate/preview-powerpoint-template-light-04.jpg" alt="DAKSA PowerPoint Template" itemprop="thumbnail")
            figure(itemprop="associateMedia" itemscope="" itemtype="http://schema.org/ImageObject")
              a(href="../../../img/corporate/preview-powerpoint-template-light-05.jpg" itemprop="contentUrl" data-size="1280x720")
                img(src="../../../img/corporate/preview-powerpoint-template-light-05.jpg" alt="DAKSA PowerPoint Template" itemprop="thumbnail")
          h4 Dark Theme
          .powerpoint-template-preview(itemscope="" itemtype="http://schema.org/ImageGallery")
            figure(itemprop="associateMedia" itemscope="" itemtype="http://schema.org/ImageObject")
              a(href="../../../img/corporate/preview-powerpoint-template-dark-01.jpg" itemprop="contentUrl" data-size="1280x720")
                img(src="../../../img/corporate/preview-powerpoint-template-dark-01.jpg" alt="DAKSA PowerPoint Template" itemprop="thumbnail")
            figure(itemprop="associateMedia" itemscope="" itemtype="http://schema.org/ImageObject")
              a(href="../../../img/corporate/preview-powerpoint-template-dark-02.jpg" itemprop="contentUrl" data-size="1280x720")
                img(src="../../../img/corporate/preview-powerpoint-template-dark-02.jpg" alt="DAKSA PowerPoint Template" itemprop="thumbnail")
            figure(itemprop="associateMedia" itemscope="" itemtype="http://schema.org/ImageObject")
              a(href="../../../img/corporate/preview-powerpoint-template-dark-03.jpg" itemprop="contentUrl" data-size="1280x720")
                img(src="../../../img/corporate/preview-powerpoint-template-dark-03.jpg" alt="DAKSA PowerPoint Template" itemprop="thumbnail")
            figure(itemprop="associateMedia" itemscope="" itemtype="http://schema.org/ImageObject")
              a(href="../../../img/corporate/preview-powerpoint-template-dark-04.jpg" itemprop="contentUrl" data-size="1280x720")
                img(src="../../../img/corporate/preview-powerpoint-template-dark-04.jpg" alt="DAKSA PowerPoint Template" itemprop="thumbnail")
            figure(itemprop="associateMedia" itemscope="" itemtype="http://schema.org/ImageObject")
              a(href="../../../img/corporate/preview-powerpoint-template-dark-05.jpg" itemprop="contentUrl" data-size="1280x720")
                img(src="../../../img/corporate/preview-powerpoint-template-dark-05.jpg" alt="DAKSA PowerPoint Template" itemprop="thumbnail")
          .download-section
            h4 Download PowerPoint Template
            p Download your preferable theme, dark or light.
            p
              a.download-link.alt(href="../../../resources/corporate/presentation-powerpoint-template-light-theme.zip") PowerPoint Light Theme
                span (3.47 MB)
              a.download-link.alt(href="../../../resources/corporate/presentation-powerpoint-template-dark-theme.zip") PowerPoint Dark Theme
                span (3.29 MB)
            p In case you were short on icon, please use this icon pack. Do not use third-party resources.
            p
              a.download-link.alt(href="../../../resources/corporate/presentation-powerpoint-icon-pack.zip") Icon Pack
                span (3.47 MB)
          h4 How to Use (PowerPoint template)
          p Our PowerPoint template has been heavily modified and carefully edited, and Its Master Slide was designed to cover any kind of topics of presentation. Please read the instructions first, before using it.
          ol
            li Download the preferable theme.
            li Make sure you have PF Handbook Pro, Adobe Clean, and Monaco fonts installed on your computer. If not, please go to <a href="../visual-identity/typography.html">this page</a>.
            li There are two files contained inside each zip file you just downloaded, <strong>presentation-dark-or-light-theme-SAMPLE.pptx</strong> and <strong>presentation-dark-or-light-theme-TEMPLATE.pptx</strong>.
              ul
                li You must begin creating a presentation slide from the TEMPLATE, not the SAMPLE.
                li The SAMPLE file shows you of what our PowerPoint template could do. If you need a sample of a chart, timeline, mockup, etc, just copy the elements from the SAMPLE file to the TEMPLATE. But always remember, never create a presentation based on SAMPLE file, ever. Just like its name, it is in only a sample.
            li Now, open <strong>presentation-dark-or-light-theme-TEMPLATE.pptx</strong> file.
            li Inside this file, you can see the skeleton (or the essentials part) of a presentation. A cover <small>(1)</small>, welcome message <small>(2)</small>, section separator <small>(3 &amp; 5)</small>, default blank layout <small>(4 &amp; 6)</small>, and closing message <small>(7)</small>. You can begin to ellaborate.
            li If you have found a layout that contain something like this
              figure
                img(src="../../../img/corporate/preview-powerpoint-how-to-empty-picture.png" alt="How to use our PowerPoint template")
                figcaption Picture replacement.
              | You <strong>must</strong> replace it with a stock photo or an image.
            li By default, if you create a new slide (Ctrl + M), the layout of newly added slide will inherit previous slide. If you need another layout just right click on the slide, and choose Layout &gt; Choose available layouts.
              figure.auto
                img(src="../../../img/corporate/preview-powerpoint-how-to.jpg" alt="How to use PowerPoint template")
                figcaption Layout options.
            li Done. You're ready to go.
            p There are also several rules you must obey while using it.
            ul
              li <strong>Do not</strong> change the font file, but you may change the font size if necessary.
              li <strong>Do not</strong> use icon(s) from any third-party resources. If you were short on icon, please use the provided Icon Pack below.
            p <strong>NB.</strong> Please take a note that DAKSA Design Team didn't embed our corporate typefaces into this PowerPoint template. So, please always remember to take along the font files with you.

        hr.article-separator

        article
          h2 Web Presentation Template
          p As an alternative, our design team also provide the web version (HTML, CSS &amp; JavaScript) for presentation template. It may sounds uncommon to some of you to use web platform for presentation purpose. But, in many global (design &amp; developer) conference, using web technology as presentation platform are quite standards for now.
          p There are several benefits if you were using web version instead of PowerPoint:
          ul
            li No need to install additional software, such as Microsoft PowerPoint, Keynote, Libre, Open Office, etc., only a (modern) web browser.
            li Can be viewed comfortly both in desktop and mobile devices.
            li Can take all the advantages of web technologies inside your presentation.
          figure.auto
            img(src="../../../img/corporate/preview-web-template.jpg" alt="Web presentation template")
            figcaption Web presentation template.
          .download-section
            h4 Download Web Presentation Template
            p
              a.download-link.alt(href="../../../resources/corporate/color-swatches-no-derivatives.zip") Web Presentation Template
                span (1.65 MB)

        hr.article-separator

        article
          h2 Keynote Template
          p Work in progress.

      footer.section-nav-chapter
        nav.prev-chapter
          h4 Prev chapter
          a(href="document.html") Document Templates
        nav.next-chapter
          h4 Next chapter
          a(href="stationery.html") Stationery

    // NAVIGATION begins here
    include ../../_include/_menu
    // NAVIGATION ends here

    // CONTENTS SHOULD ENDS HERE

  include ../../_include/_footer

  // Root element of PhotoSwipe. Must have class pswp.
  .pswp(tabindex="-1" role="dialog" aria-hidden="true")
    .pswp__bg
    .pswp__scroll-wrap
      .pswp__container
        .pswp__item
        .pswp__item
        .pswp__item
      .pswp__ui.pswp__ui--hidden
        .pswp__top-bar
          .pswp__counter
          button.pswp__button.pswp__button--close(title="Close (Esc)")
          button.pswp__button.pswp__button--share(title="Share")
          button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
          button.pswp__button.pswp__button--zoom(title="Zoom in/out")
          .pswp__preloader
            .pswp__preloader__icn
              .pswp__preloader__cut
                .pswp__preloader__donut

        .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
          .pswp__share-tooltip
        button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
        button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")
        .pswp__caption
          .pswp__caption__center

  script.
    $("#corporate-templates-presentation-templates").addClass("mm-selected");

  script(src="../../../js/vendor/PhotoSwipe-master/dist/photoswipe.js")
  script(src="../../../js/vendor/PhotoSwipe-master/dist/photoswipe-ui-default.js")
  script.
    var initPhotoSwipeFromDOM = function (gallerySelector) {

      // parse slide data (url, title, size ...) from DOM elements
      // (children of gallerySelector)
      var parseThumbnailElements = function (el) {
        var thumbElements = el.childNodes,
          numNodes = thumbElements.length,
          items = [],
          figureEl,
          linkEl,
          size,
          item;

        for (var i = 0; i < numNodes; i++) {

          figureEl = thumbElements[i]; // <figure> element

          // include only element nodes
          if (figureEl.nodeType !== 1) {
            continue;
          }

          linkEl = figureEl.children[0]; // <a> element

          size = linkEl.getAttribute('data-size').split('x');

          // create slide object
          item = {
            src: linkEl.getAttribute('href'),
            w: parseInt(size[0], 10),
            h: parseInt(size[1], 10)
          };


          if (figureEl.children.length > 1) {
            // <figcaption> content
            item.title = figureEl.children[1].innerHTML;
          }

          if (linkEl.children.length > 0) {
            // <img> thumbnail element, retrieving thumbnail url
            item.msrc = linkEl.children[0].getAttribute('src');
          }

          item.el = figureEl; // save link to element for getThumbBoundsFn
          items.push(item);
        }

        return items;
      };

      // find nearest parent element
      var closest = function closest(el, fn) {
        return el && ( fn(el) ? el : closest(el.parentNode, fn) );
      };

      // triggers when user clicks on thumbnail
      var onThumbnailsClick = function (e) {
        e = e || window.event;
        e.preventDefault ? e.preventDefault() : e.returnValue = false;

        console.log("opened!");
        $(".mm-page.mm-slideout").css({
          "z-index": 1000
        });

        var eTarget = e.target || e.srcElement;

        // find root element of slide
        var clickedListItem = closest(eTarget, function (el) {
          return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
        });

        if (!clickedListItem) {
          return;
        }

        // find index of clicked item by looping through all child nodes
        // alternatively, you may define index via data- attribute
        var clickedGallery = clickedListItem.parentNode,
          childNodes = clickedListItem.parentNode.childNodes,
          numChildNodes = childNodes.length,
          nodeIndex = 0,
          index;

        for (var i = 0; i < numChildNodes; i++) {
          if (childNodes[i].nodeType !== 1) {
            continue;
          }

          if (childNodes[i] === clickedListItem) {
            index = nodeIndex;
            break;
          }
          nodeIndex++;
        }


        if (index >= 0) {
          // open PhotoSwipe if valid index found
          openPhotoSwipe(index, clickedGallery);
        }
        return false;
      };

      // parse picture index and gallery index from URL (#&pid=1&gid=2)
      var photoswipeParseHash = function () {
        var hash = window.location.hash.substring(1),
          params = {};

        if (hash.length < 5) {
          return params;
        }

        var vars = hash.split('&');
        for (var i = 0; i < vars.length; i++) {
          if (!vars[i]) {
            continue;
          }
          var pair = vars[i].split('=');
          if (pair.length < 2) {
            continue;
          }
          params[pair[0]] = pair[1];
        }

        if (params.gid) {
          params.gid = parseInt(params.gid, 10);
        }

        return params;
      };

      var openPhotoSwipe = function (index, galleryElement, disableAnimation, fromURL) {
        var pswpElement = document.querySelectorAll('.pswp')[0],
          gallery,
          options,
          items;

        items = parseThumbnailElements(galleryElement);

        // define options (if needed)
        options = {

          // define gallery index (for URL)
          galleryUID: galleryElement.getAttribute('data-pswp-uid'),

          getThumbBoundsFn: function (index) {
            // See Options -> getThumbBoundsFn section of documentation for more info
            var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
              pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
              rect = thumbnail.getBoundingClientRect();

            return {x: rect.left, y: rect.top + pageYScroll, w: rect.width};
          }

        };

        // PhotoSwipe opened from URL
        if (fromURL) {
          if (options.galleryPIDs) {
            // parse real index when custom PIDs are used
            // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
            for (var j = 0; j < items.length; j++) {
              if (items[j].pid == index) {
                options.index = j;
                break;
              }
            }
          } else {
            // in URL indexes start from 1
            options.index = parseInt(index, 10) - 1;
          }
        } else {
          options.index = parseInt(index, 10);
        }

        // exit if index not found
        if (isNaN(options.index)) {
          return;
        }

        if (disableAnimation) {
          options.showAnimationDuration = 0;
        }

        // Pass data to PhotoSwipe and initialize it
        gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();

        gallery.listen('destroy', function() {
          console.log("closed honey!");
          $(".mm-page.mm-slideout").css({
            "z-index": 1
          });
        });
      };

      // loop through all gallery elements and bind events
      var galleryElements = document.querySelectorAll(gallerySelector);

      for (var i = 0, l = galleryElements.length; i < l; i++) {
        galleryElements[i].setAttribute('data-pswp-uid', i + 1);
        galleryElements[i].onclick = onThumbnailsClick;
      }

      // Parse URL and open gallery if it contains #&pid=3&gid=1
      var hashData = photoswipeParseHash();
      if (hashData.pid && hashData.gid) {
        openPhotoSwipe(hashData.pid, galleryElements[hashData.gid - 1], true, true);
      }
    };

    // execute above function
    initPhotoSwipeFromDOM('.powerpoint-template-preview');
