//- index-header.pug
head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  title DAKSA Design Repository
  meta(name="description" content="Every single things related to DAKSA design should be stored inside this repository")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="author" content="Ruly Ardiansyah")
  meta(name="theme-color" content="#262b39")
  meta(name="apple-mobile-web-app-title" content="DAKSA - IT consultant")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="#262b39")
  meta(name="msapplication-navbutton-color" content="#262b39")

  // Favicon & Apple Touch Icon
  link(rel="apple-touch-icon" href="http://192.168.1.28/pratpretprot/apple-touch-icon.png")
  link(rel="shortcut icon" type="image/x-icon" href="http://192.168.1.28/pratpretprot/favicon.ico")

  link(rel="stylesheet" href="http://192.168.1.28/pratpretprot/css/normalize.css")
  link(rel="stylesheet" href="http://192.168.1.28/pratpretprot/css/main.css")
  link(rel="stylesheet" href="http://192.168.1.28/pratpretprot/js/vendor/jQuery.mmenu-master/dist/css/jquery.mmenu.all.css")
  link(rel="stylesheet" href="http://192.168.1.28/pratpretprot/js/vendor/jQuery.mmenu-master/dist/extensions/widescreen/jquery.mmenu.widescreen.css" media="all and (min-width: 768px)")
  link(rel="stylesheet" href="http://192.168.1.28/pratpretprot/js/vendor/footable-standalone.latest/css/footable.standalone.min.css")

  link(rel="stylesheet" href="http://192.168.1.28/pratpretprot/css/sections.css")

  script(src="http://192.168.1.28/pratpretprot/js/vendor/modernizr-2.8.3.min.js")


