nav#menu
  ul
    // ==================================================
      CORPORATE SECTION LINKS
      ==================================================
    li
      span <img src="http://192.168.1.28/pratpretprot/img/menu-ic-corporate.svg" alt="DAKSA Corporate Design" /> Corporate Design
      ul
        li#corporate-prelude
          a(href="http://192.168.1.28/pratpretprot/sections/corporate/prelude.html") Prelude
        li#logo
          a(href="http://192.168.1.28/pratpretprot/sections/corporate/logo.html") Logo
        li
          span Visual Identity
          ul
            li#visual-identity-colors-palette
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/visual-identity/colors-palette.html") Colors Palette
            li#visual-identity-typography
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/visual-identity/typography.html") Typography
            li#visual-identity-imagery
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/visual-identity/imagery.html") Imagery &amp; Illustration
            li#visual-identity-usage-implementation
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/visual-identity/usage-implementation.html") Usage &amp; Implementation
        li
          span Products
          ul
            li#products-eva
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/products/eva.html") EVA
            li#products-sandra
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/products/sandra.html") SANDRA
            li#products-marisa
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/products/marisa.html") MARISA
            li#products-crisa
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/products/crisa.html") CRISA
            li#products-trojan
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/products/trojan.html") TROJAN
        li
          span Corporate Templates
          ul
            li#corporate-templates-document-templates
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/templates/document.html") Document Templates
            li#corporate-templates-presentation-templates
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/templates/presentation.html") Presentation Templates
            li#corporate-templates-stationery
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/templates/stationery.html") Stationery
            li#corporate-templates-email-signature
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/templates/email-signature.html") Email Signature
            li#corporate-templates-company-profile
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/templates/company-profile.html") Company Profile
            li#corporate-templates-miscellaneous
              a(href="http://192.168.1.28/pratpretprot/sections/corporate/templates/miscellaneous.html") Miscellaneous

    // ==================================================
      WEB SECTION LINKS
      ==================================================
    li
      span <img src="http://192.168.1.28/pratpretprot/img/menu-ic-web.svg" alt="DAKSA Web Design" /> Web Design
      ul
        li
          span Grid System
          ul
            li#grid-system-prelude
              a(href="http://192.168.1.28/pratpretprot/sections/web/grid-system/prelude.html") Prelude
            li#grid-system-installation-usage
              a(href="http://192.168.1.28/pratpretprot/sections/web/grid-system/installation-usage.html") Installation &amp; Usage
            li#grid-system-options
              a(href="http://192.168.1.28/pratpretprot/sections/web/grid-system/options.html") Options
        li
          span Front-End
          ul
            li#front-end-skeletons
              a(href="http://192.168.1.28/pratpretprot/sections/web/front-end/skeletons.html") Skeletons
            li#front-end-file-formats
              a(href="http://192.168.1.28/pratpretprot/sections/web/front-end/file-formats.html") File Formats
            li#front-end-performance-checklist
              a(href="http://192.168.1.28/pratpretprot/sections/web/front-end/performance-checklist.html") Performance Checklist
            li#front-end-tools-closure-compiler
              a(href="http://192.168.1.28/pratpretprot/sections/web/front-end/tools-closure-compiler.html") Tools: Closure Compiler
            li#front-end-tools-pagespeed
              a(href="http://192.168.1.28/pratpretprot/sections/web/front-end/tools-pagespeed.html") Tools: PageSpeed
        li
          span Primefaces Overrides
          ul
            li#primefaces-overrides-prelude
              a(href="http://192.168.1.28/pratpretprot/sections/web/primefaces-overrides/prelude.html") Prelude
            li#primefaces-overrides-inputs
              a(href="http://192.168.1.28/pratpretprot/sections/web/primefaces-overrides/inputs.html") Inputs
            li#primefaces-overrides-buttons
              a(href="http://192.168.1.28/pratpretprot/sections/web/primefaces-overrides/buttons.html") Buttons
            li#primefaces-overrides-datas
              a(href="http://192.168.1.28/pratpretprot/sections/web/primefaces-overrides/datas.html") Datas
            li#primefaces-overrides-panels
              a(href="http://192.168.1.28/pratpretprot/sections/web/primefaces-overrides/panels.html") Panels
            li#primefaces-overrides-overlays-messages
              a(href="http://192.168.1.28/pratpretprot/sections/web/primefaces-overrides/overlays-messages.html") Overlays &amp; Messages

      // ==================================================
        MOBILE SECTION LINKS
        ==================================================
      li
        span <img src="http://192.168.1.28/pratpretprot/img/menu-ic-mobile.svg" alt="DAKSA Mobile Design" /> Mobile Design
        ul
          li
            span Android Design
            ul
              li#android-design-prelude
                a.disabled(href="http://192.168.1.28/pratpretprot/sections/mobile/android-design/prelude.html") Prelude
              li#android-design-components
                a(href="http://192.168.1.28/pratpretprot/sections/mobile/android-design/components.html") Components
              li#android-design-patterns
                a(href="http://192.168.1.28/pratpretprot/sections/mobile/android-design/patterns.html") Patterns
              li#android-design-usability
                a(href="http://192.168.1.28/pratpretprot/sections/mobile/android-design/usability.html") Usability
              li#android-design-iconography
                a(href="http://192.168.1.28/pratpretprot/sections/mobile/android-design/iconography.html") Iconography
              li#android-design-resources
                a(href="http://192.168.1.28/pratpretprot/sections/mobile/android-design/resources.html") Resources
          li
            span iOS Design
            ul
              li#ios-design-prelude
                a(href="http://192.168.1.28/pratpretprot/sections/mobile/ios-design/prelude.html") Prelude
              li#ios-design-resolutions-displays
                a(href="http://192.168.1.28/pratpretprot/sections/mobile/ios-design/resolutions-displays.html") Resolutions &amp; Displays
              li#ios-design-iconography
                a(href="http://192.168.1.28/pratpretprot/sections/mobile/ios-design/iconography.html") Iconography
              li#ios-design-typography
                a(href="http://192.168.1.28/pratpretprot/sections/mobile/ios-design/typography.html") Typography
              li#ios-design-components
                a(href="http://192.168.1.28/pratpretprot/sections/mobile/ios-design/components.html") Components
              li#ios-design-resources
                a(href="http://192.168.1.28/pratpretprot/sections/mobile/ios-design/resources.html") Resources

      // ==================================================
        MOBILE SECTION LINKS
        ==================================================
      li
        span <img src="http://192.168.1.28/pratpretprot/img/menu-ic-project.svg" alt="DAKSA Project Directories" /> Project Directories
        ul
          li
            a(href="#") Project A
          li
            a(href="#") Project B
          li
            a(href="#") Project C
          li
            a(href="#") Project D




