//
   Created by rulyardiansyah on 12/28/2016.

//- CORPORATE - VISUAL IDENTITY - colors-palette.pug
doctype html
html.no-js(lang="")
  include ../../_include/_header
  body
    <!--[if lt IE 8]>
    p(class="browserupgrade") You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    // CONTENTS SHOULD BEGINS HERE

    .container
      header.header.fixed
        a(href="#menu") <span></span>
      section.content#content
        article
          h1 Colors Palette
          p Our image has to be both formal (or even rigid) and creative at the same time. So, in order to reflect that, our colors palette were picked with a wide range choices of color.
          p As you may know already, please use RGB and HEX codes for on-screen and digital use only. While CMYK builds and PMS colors are for print applications purposes. Please note that each color has been optimized for on-screen or print reproduction. The specific RGB and CMYK colors are provided here and must be specified individually for each color. Do not use the automated color conversion or un-legitimate color picker tools.
          p Additional info: Any pantone code defined below are based on <strong>Pantone+ Solid Coated</strong>.

        hr.article-separator

        article
          h2 Primary Colors
          p In most cases, primary colors were used as the most dominated color(s). These colors should be on top priority when picking up color.
          .colors-palette#primary-colors
            .color-wrapper
              .color-card.color-dark-slate
                .color-block
                  h4 Dark Slate
                .color-info
                  ul
                    li HEX Code: <strong>#2a303f</strong>
                    li RGB Code: <strong>(42, 48, 63)</strong>
                    li CMYK Code: <strong>(81, 72, 51, 51)</strong>
                    li Pantone: <strong>7546 C</strong>
            .color-wrapper
              .color-card.color-blue-sky
                .color-block
                  h4 Blue Sky
                .color-info
                  ul
                    li HEX Code: <strong>#008ae0</strong>
                    li RGB Code: <strong>(0, 138, 224)</strong>
                    li CMYK Code: <strong>(77, 39, 0, 0)</strong>
                    li Pantone: <strong>279 C</strong>
            .color-wrapper
              .color-card.color-cyan
                .color-block
                  h4 Cyan
                .color-info
                  ul
                    li HEX Code: <strong>#00c2c5</strong>
                    li RGB Code: <strong>(0, 194, 197)</strong>
                    li CMYK Code: <strong>(70, 0, 28, 0)</strong>
                    li Pantone: <strong>319 C</strong>

        article
          h2 Complementary Colors
          p A wide range of complementary colors, or commonly called as secondary colors, could be helpful while designing infographics, charts, UI components, and any corporate communication media.
          .colors-palette#complementary-colors
            .color-wrapper
              .color-card.color-briquette
                .color-block
                  h4 Briquette
                .color-info
                  ul
                    li HEX Code: <strong>#343839</strong>
                    li RGB Code: <strong>(52, 56, 57)</strong>
                    li CMYK Code: <strong>(72, 62, 61, 54)</strong>
                    li Pantone: <strong>447 C</strong>
            .color-wrapper
              .color-card.color-deep-purple
                .color-block
                  h4 Deep Purple
                .color-info
                  ul
                    li HEX Code: <strong>#7960a9</strong>
                    li RGB Code: <strong>(121, 96, 169)</strong>
                    li CMYK Code: <strong>(60, 71, 1, 0)</strong>
                    li Pantone: <strong>7677 C</strong>
            .color-wrapper
              .color-card.color-green-grass
                .color-block
                  h4 Green Grass
                .color-info
                  ul
                    li HEX Code: <strong>#91ca77</strong>
                    li RGB Code: <strong>(145, 202, 119)</strong>
                    li CMYK Code: <strong>(46, 0, 71, 0)</strong>
                    li Pantone: <strong>359 C</strong>
            .color-wrapper
              .color-card.color-sunset
                .color-block
                  h4 Sunset
                .color-info
                  ul
                    li HEX Code: <strong>#feb033</strong>
                    li RGB Code: <strong>(254, 176, 51)</strong>
                    li CMYK Code: <strong>(0, 35, 90, 0)</strong>
                    li Pantone: <strong>143 C</strong>
            .color-wrapper
              .color-card.color-orange
                .color-block
                  h4 Orange
                .color-info
                  ul
                    li HEX Code: <strong>#f15b00</strong>
                    li RGB Code: <strong>(241, 91, 0)</strong>
                    li CMYK Code: <strong>(0, 79, 100, 0)</strong>
                    li Pantone: <strong>166 C</strong>
            .color-wrapper
              .color-card.color-redish-pink
                .color-block
                  h4 Redish Pink
                .color-info
                  ul
                    li HEX Code: <strong>#e83665</strong>
                    li RGB Code: <strong>(232, 54, 101)</strong>
                    li CMYK Code: <strong>(3, 93, 44, 0)</strong>
                    li Pantone: <strong>191 C</strong>
            .color-wrapper
              .color-card.color-cool-pink
                .color-block
                  h4 Cool Pink
                .color-info
                  ul
                    li HEX Code: <strong>#fe57a1</strong>
                    li RGB Code: <strong>(254, 87, 161)</strong>
                    li CMYK Code: <strong>(0, 81, 1, 0)</strong>
                    li Pantone: <strong>212 C</strong>

        article
          h2 Neutral Colors
          p Neutral colors primarily used for a non-interactive design elements, such panel header, table header, etc..
          .colors-palette#neutral-colors
            .color-wrapper
              .color-card.color-soil
                .color-block
                  h4 Soil
                .color-info
                  ul
                    li HEX Code: <strong>#3d3935</strong>
                    li RGB Code: <strong>(61, 57, 53)</strong>
                    li CMYK Code: <strong>(65, 61, 65, 54)</strong>
                    li Pantone: <strong>Black 7 C</strong>
            .color-wrapper
              .color-card.color-cement
                .color-block
                  h4 Cement
                .color-info
                  ul
                    li HEX Code: <strong>#758a9a</strong>
                    li RGB Code: <strong>(117, 138, 154)</strong>
                    li CMYK Code: <strong>(58, 39, 31, 2)</strong>
                    li Pantone: <strong>Black 7544 C</strong>
            .color-wrapper
              .color-card.color-light-grey
                .color-block
                  h4 Light Grey
                .color-info
                  ul
                    li HEX Code: <strong>#d2dde7</strong>
                    li RGB Code: <strong>(210, 221, 231)</strong>
                    li CMYK Code: <strong>(16, 8, 4, 0)</strong>
                    li Pantone: <strong>642 C</strong>

        hr.article-separator

        article
          h2 Derivative Colors
          p Please, do not limit yourself. To implement our corporate colors on any communication media, you can derivate all of defined colors above as accent colors. But please make a note that these colors below should never dominate the overall design.
          .colors-palette
            .color-wrapper
              .color-card.color-blue-sky
                .color-block-derivatives
                  .percent-5
                    span #f3f9fe
                  .percent-10
                    span #e6f3fc
                  .percent-20
                    span #b3dcf6
                  .percent-30
                    span #7fc5f0
                  .percent-40
                    span #4cadea
                  .percent-50
                    span #1996e3
                  .percent-60
                    span #007dca
                  .percent-70
                    span #00619e
                  .percent-80
                    span #004671
                  .percent-90
                    span #002943
                .color-info
                  p Blue sky derivatives
            .color-wrapper
              .color-card.color-cyan
                .color-block-derivatives
                  .percent-5
                    span #f3fcfc
                  .percent-10
                    span #e6f9f9
                  .percent-20
                    span #b3eded
                  .percent-30
                    span #7fe1e2
                  .percent-40
                    span #4cd4d7
                  .percent-50
                    span #19c8cb
                  .percent-60
                    span #00afb2
                  .percent-70
                    span #00888b
                  .percent-80
                    span #006263
                  .percent-90
                    span #003a3a
                .color-info
                  p Cyan derivatives
            .color-wrapper
              .color-card.color-deep-purple
                .color-block-derivatives
                  .percent-5
                    span #f9f8fb
                  .percent-10
                    span #f2eff7
                  .percent-20
                    span #d7d0e5
                  .percent-30
                    span #bcafd4
                  .percent-40
                    span #a190c3
                  .percent-50
                    span #8670b1
                  .percent-60
                    span #6d5798
                  .percent-70
                    span #554477
                  .percent-80
                    span #3d3055
                  .percent-90
                    span #241d32
                .color-info
                  p Deep purple derivatives
            .color-wrapper
              .color-card.color-green-grass
                .color-block-derivatives
                  .percent-5
                    span #fafcf9
                  .percent-10
                    span #f4faf2
                  .percent-20
                    span #deefd6
                  .percent-30
                    span #c8e5bb
                  .percent-40
                    span #b2daa0
                  .percent-50
                    span #9ccf84
                  .percent-60
                    span #83b66b
                  .percent-70
                    span #668e54
                  .percent-80
                    span #49663c
                  .percent-90
                    span #2b3c23
                .color-info
                  p Green grass derivatives
            .color-wrapper
              .color-card.color-sunset
                .color-block-derivatives
                  .percent-5
                    span #fffbf5
                  .percent-10
                    span #fff7eb
                  .percent-20
                    span #fee7c2
                  .percent-30
                    span #ffd899
                  .percent-40
                    span #ffc870
                  .percent-50
                    span #feb847
                  .percent-60
                    span #e59f2e
                  .percent-70
                    span #b37c24
                  .percent-80
                    span #80591a
                  .percent-90
                    span #4b340f
                .color-info
                  p Sunset derivatives
            .color-wrapper
              .color-card.color-orange
                .color-block-derivatives
                  .percent-5
                    span #fef7f3
                  .percent-10
                    span #feefe6
                  .percent-20
                    span #fbceb3
                  .percent-30
                    span #f8ad7f
                  .percent-40
                    span #f58c4c
                  .percent-50
                    span #f26b19
                  .percent-60
                    span #d95200
                  .percent-70
                    span #a94000
                  .percent-80
                    span #792e00
                  .percent-90
                    span #481b00
                .color-info
                  p Orange derivatives
            .color-wrapper
              .color-card.color-redish-pink
                .color-block-derivatives
                  .percent-5
                    span #fef6f8
                  .percent-10
                    span #fdebf0
                  .percent-20
                    span #f8c3d1
                  .percent-30
                    span #f49ab2
                  .percent-40
                    span #ef7293
                  .percent-50
                    span #ea4a74
                  .percent-60
                    span #d1315b
                  .percent-70
                    span #a32647
                  .percent-80
                    span #751b33
                  .percent-90
                    span #45101e
                .color-info
                  p Redish pink derivatives
            .color-wrapper
              .color-card.color-cool-pink
                .color-block-derivatives
                  .percent-5
                    span #fff7fb
                  .percent-10
                    span #ffeef6
                  .percent-20
                    span #fecde3
                  .percent-30
                    span #ffabd0
                  .percent-40
                    span #ff89bd
                  .percent-50
                    span #fe68aa
                  .percent-60
                    span #e54f91
                  .percent-70
                    span #b33d71
                  .percent-80
                    span #802c51
                  .percent-90
                    span #4b1a30
                .color-info
                  p Cool pink derivatives
          p
          .colors-palette
            .color-wrapper
              .color-card.color-dark-slate
                .color-block-derivatives
                  .percent-5
                    span #f6f6f7
                  .percent-10
                    span #ececee
                  .percent-20
                    span #c4c7cd
                  .percent-30
                    span #9ca0ab
                  .percent-40
                    span #757a89
                  .percent-50
                    span #4d5568
                  .percent-60
                    span #343c4f
                  .percent-70
                    span #292e3d
                  .percent-80
                    span #1d212c
                  .percent-90
                    span #11141a
                .color-info
                  p Slate derivatives
            .color-wrapper
              .color-card.color-cement
                .color-block-derivatives
                  .percent-5
                    span #f8f9fa
                  .percent-10
                    span #f1f3f5
                  .percent-20
                    span #d6dce1
                  .percent-30
                    span #bac5cd
                  .percent-40
                    span #9eadb8
                  .percent-50
                    span #8396a4
                  .percent-60
                    span #6a7d8b
                  .percent-70
                    span #52616c
                  .percent-80
                    span #3b464e
                  .percent-90
                    span #23292e
                .color-info
                  p Cement derivatives
            .color-wrapper
              .color-card.color-light-grey
                .color-block-derivatives
                  .percent-5
                    span #fdfdfe
                  .percent-10
                    span #fbfcfd
                  .percent-20
                    span #f1f5f8
                  .percent-30
                    span #e9eef3
                  .percent-40
                    span #e0e7ee
                  .percent-50
                    span #d6e0e9
                  .percent-60
                    span #bdc7d0
                  .percent-70
                    span #949ba2
                  .percent-80
                    span #6a6f74
                  .percent-90
                    span #3e4245
                .color-info
                  p Light grey derivatives

        hr.article-separator

        article
          h2 Gradient &amp; Color Combinations
          p You can combine any solid colors above to give more depth and variations to our design.
          h4 Primary-to-primary Combinations
          .color-gradients
            .color-gradient-wrapper#gradient-blue-to-cyan
              .color-gradient
              p <strong>Blue Sky</strong> to <strong>Cyan</strong> (vice versa)
          h4 Primary-to-Complementary Combinations
          .color-gradients
            .color-gradient-wrapper#gradient-blue-to-green-grass
              .color-gradient
              p <strong>Blue Sky</strong> to <strong>Green Grass</strong> (vice versa)
            .color-gradient-wrapper#gradient-blue-to-deep-purple
              .color-gradient
              p <strong>Blue Sky</strong> to <strong>Deep Purple</strong> (vice versa)
            .color-gradient-wrapper#gradient-blue-to-cement
              .color-gradient
              p <strong>Blue Sky</strong> to <strong>Cement</strong> (vice versa)
            .color-gradient-wrapper#gradient-blue-to-cool-pink
              .color-gradient
              p <strong>Blue Sky</strong> to <strong>Cool Pink</strong> (vice versa)
            p
            .color-gradient-wrapper#gradient-cyan-to-green-grass
              .color-gradient
              p <strong>Cyan</strong> to <strong>Green Grass</strong> (vice versa)
            .color-gradient-wrapper#gradient-cyan-to-deep-purple
              .color-gradient
              p <strong>Cyan</strong> to <strong>Deep Purple</strong> (vice versa)
            p
            .color-gradient-wrapper#gradient-cyan-to-cool-pink
              .color-gradient
              p <strong>Cyan</strong> to <strong>Cool Pink</strong> (vice versa)
          h4 Complementary-to-Complementary Combinations
          .color-gradients
            .color-gradient-wrapper#gradient-green-grass-to-sunset
              .color-gradient
              p <strong>Green Grass</strong> to <strong>Sunset</strong> (vice versa)
            .color-gradient-wrapper#gradient-sunset-to-orange
              .color-gradient
              p <strong>Sunset</strong> to <strong>Orange</strong> (vice versa)
            .color-gradient-wrapper#gradient-sunset-to-redish-pink
              .color-gradient
              p <strong>Sunset</strong> to <strong>Redish Pink</strong> (vice versa)
            .color-gradient-wrapper#gradient-sunset-to-cool-pink
              .color-gradient
              p <strong>Sunset</strong> to <strong>Cool Pink</strong> (vice versa)
            .color-gradient-wrapper#gradient-cool-pink-to-redish-pink
              .color-gradient
              p <strong>Cool Pink</strong> to <strong>Redish Pink</strong> (vice versa)

        hr.article-separator

        h2 Implementations
        h3 Solid block
        p These are examples of how we implement our color on a "real" case. So, it could give you a guidance or direction.
        figure.auto
          img(src="../../../img/corporate/visual-identity-color-sample-solid-icon.png" alt="Sample solid color combination on icon")
          figcaption Sample on icon
        figure.auto
          img(src="../../../img/corporate/visual-identity-color-sample-solid-illustration.png" alt="Sample solid color combination on illustration")
          figcaption Sample on illustration
        h3 Gradient
        p These are examples of how we implement our gradient color combination on a "real" case. So, it could give you a guidance or direction.
        figure.auto
          img(src="../../../img/corporate/visual-identity-color-sample-gradient-imagery.jpg" alt="Sample gradient color combination on imagery")
          figcaption Sample gradient on imagery/stock image
        figure.auto
          img(src="../../../img/corporate/visual-identity-color-sample-gradient-text.png" alt="Sample gradient color combination on text")
          figcaption Sample gradient on text
        figure.auto
          img(src="../../../img/corporate/visual-identity-color-sample-gradient-icon.png" alt="Sample gradient color combination on icon")
          figcaption Sample gradient on text

        hr.article-separator

        article
          .download-section
            h4 Download Colors Swatches
            p If you were working inside Adobe's products, such as Photoshop<sup>TM</sup>, Illustrator<sup>TM</sup>, InDesign<sup>TM</sup>, etc., you can downlod the color swatch file (*.aco) below.
            p
              a.download-link.alt(href="../../../resources/corporate/color-swatches-no-derivatives.zip") Color Swatches
                span (517 B)
              a.download-link.alt(href="../../../resources/corporate/color-swatches-with-derivatives.zip") Color Swatches (Derivatives)
                span (1.91 KB)
            h4 Download Gradient Library
            p This gradient presets (*.grd) also available to use in Photoshop<sup>TM</sup>, Illustrator<sup>TM</sup>, etc..
            p
              a.download-link.alt(href="../../../resources/corporate/color-gradient-presets.zip") Gradient Presets
                span (817 B)

      footer.section-nav-chapter
        nav.prev-chapter
          h4 Prev chapter
          a(href="../logo.html") Logo
        nav.next-chapter
          h4 Next chapter
          a(href="typography.html") Typography

    // NAVIGATION begins here
    include ../../_include/_menu
    // NAVIGATION ends here

    // CONTENTS SHOULD ENDS HERE

  include ../../_include/_footer

  script.
    $("#visual-identity-colors-palette").addClass("mm-selected");