//
   Created by rulyardiansyah on 1/10/2017.

//- MOBILE DESIGN - iOS - resolutions-displays.pug
doctype html
html.no-js(lang="")
  include ../../_include/_header
  body
    <!--[if lt IE 8]>
    p(class="browserupgrade") You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    // CONTENTS SHOULD BEGINS HERE
    .container
      header.header.fixed
        a(href="#menu") <span></span>
      section.content#content
        article
          h1 Iconography
          p About iconography.

        hr.article-separator

        article
          h2 App Icons
          p Every app must supply both small and large app icons. The small icons are used on the Home screen and throughout the system once your app is installed. The large icon is used by the App Store.
          table.table
            thead
              tr
                th Device
                th App Icon (px)
                th AppStore Icon (px)
                th Spotlight (px)
                th Settings (px)
            tbody
              tr
                td iPhone 6+
                  span.td-additional-info 6+, 6S+
                td 180 x 180
                td(rowspan="6") 1024 x 1024
                td 120 x 120
                td 87 x 87
              tr
                td iPhone
                  span.td-additional-info 6S, 6, SE, 5S, 5, 5C, 4S, 4
                td 120 x 120
                td 80 x 80
                td 58 x 58
              tr
                td iPhone
                  span.td-additional-info 1<sup>st</sup>, 2<sup>nd</sup>, 3<sup>rd</sup> Generation
                td 57 x 57
                td 29 x 29
                td 29 x 29
              tr
                td iPad Pro
                td 167 x 167
                td 120 x 120
                td 58 x 58
              tr
                td iPad
                  span.td-additional-info Mini 2 &amp; 3, Air, 3 &amp; 4
                td 180 x 180
                td 120 x 120
                td 87 x 87
              tr
                td iPad
                  span.td-additional-info 1, 2, Mini 1
                td 76 x 76
                td 40 x 40
                td 29 x 29

          h3 Automatically Applied Effects
          h4 Rounded Corners
          p The old simple radii values for rounded corners are gone. Since iOS 7, app icons have been using the shape of a superellipse. Since Apple did not release an official template of the shape, you will have to use one of the unofficial templates out there that replicate the shape in more or less accurate ways.
          p The rounded corners should not be included in the final exported assets, but you might need them in your design process if you want to add effects, such as a stroke or shadows, that are aligned to the corner of the icon.
          article.note
            h4 Warning
            p If you are masking your icon asset with the superellipse shape because you want to apply effects aligned to the corners, make sure not to use any transparency for the area outside the mask. Transparency is not supported at all for app icons and instead is rendered as plain black. If your mask is not 100% accurate, users will see small black fragments on the rounded edges. It’s recommend to set the background of the canvas to be the same as the app icon background.
          h4 Border Stroke
          p If the app icon you are using has a white background, a 1 pixel gray border stroke will be applied to make it easier to recognize the edges of the icon. This is only done in the settings app (if your application is listed there) and the AppStore.
          h4 Legacy Effects
          p On older iOS versions, these effects are applied automatically: rounded corners (not the same shape as iOS 7+ icons are using), drop shadows on the home screen and a gloss effect that can be disabled.

      footer.section-nav-chapter
        nav.prev-chapter
          h4 Prev chapter
          a(href="resolutions-displays.html") Resolutions &amp; Displays
        nav.next-chapter
          h4 Next chapter
          a(href="typography.html") Typography

    // NAVIGATION begins here
    include ../../_include/_menu
    // NAVIGATION ends here

    // CONTENTS SHOULD ENDS HERE

  include ../../_include/_footer

  script.
    $("#ios-design-iconography").addClass("mm-selected");