<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- <configSections>
    <sectionGroup name="system.webServer">
      <sectionGroup name="rewrite">
        <section name="rewriteMaps" overrideModeDefault="Allow" type="" />
        <section name="rules" overrideModeDefault="Allow" type="" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.web>
    <customErrors mode="Off"/>
    <sessionState cookieName="" mode="Off"/>
  </system.web> -->
  <system.webServer>
    <directoryBrowse enabled="false" />
    <caching>
      <profiles>
        <add extension=".php" policy="DisableCache" kernelCachePolicy="DisableCache" />
        <add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" />
        <add extension=".css" policy="DisableCache" kernelCachePolicy="DisableCache" />
        <add extension=".js" policy="DisableCache" kernelCachePolicy="DisableCache" />
        <add extension=".svg" policy="DisableCache" kernelCachePolicy="DisableCache" />
        <add extension=".jpg" policy="DisableCache" kernelCachePolicy="DisableCache" />
        <add extension=".png" policy="DisableCache" kernelCachePolicy="DisableCache" />
      </profiles>
    </caching>
    <defaultDocument>
      <files>
        <remove value="index.html" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires"/>
    </staticContent>
    <httpErrors>
      <remove statusCode="400" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="407" subStatusCode="-1" />
      <error statusCode="400" prefixLanguageFilePath="" path="http://192.168.1.28/pratpretprot/error.html" responseMode="Redirect" />
      <error statusCode="401" prefixLanguageFilePath="" path="http://192.168.1.28/pratpretprot/error.html" responseMode="Redirect" />
      <error statusCode="403" prefixLanguageFilePath="" path="http://192.168.1.28/pratpretprot/error.html" responseMode="Redirect" />
      <error statusCode="404" prefixLanguageFilePath="" path="http://192.168.1.28/pratpretprot/error.html" responseMode="Redirect" />
      <error statusCode="405" prefixLanguageFilePath="" path="http://192.168.1.28/pratpretprot/error.html" responseMode="Redirect" />
      <error statusCode="406" prefixLanguageFilePath="" path="http://192.168.1.28/pratpretprot/error.html" responseMode="Redirect" />
      <error statusCode="407" prefixLanguageFilePath="" path="http://192.168.1.28/pratpretprot/error.html" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
</configuration>